@if (Context.User.Identity.IsAuthenticated)
{

    <li class="nav-item">
        <a class="nav-link" asp-controller="Usuarios" asp-action="MiPerfil">
            @if (Context.User.FindFirst("imagen").ToString() != null)
            {

                <img class="rounded" style="height:50px; width: 50px" src="~/images/@Context.User.FindFirst("imagen").Value">
            }
            &nbsp;
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" asp-controller="Usuarios" asp-action="MiPerfil">
            <span>Bienvenido, @Context.User.Identity.Name &nbsp;</span>
            &nbsp;
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Usuarios" asp-action="MisPedidos">
            <span>Mis pedidos &nbsp;</span>
            &nbsp;
        </a>
    </li>

    <li>
        <a class="nav-link" asp-controller="Manage" asp-action="Logout">
            <span class="text-danger"> Logout </span>
        </a>
    </li>

}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="Manage" asp-action="Login">Login</a>
    </li>

}