
<form method="post">
    <label>Username</label>
    <input type="text" name="email" class="form-control" />
    <br />
    <label>Password</label>
    <input type="password" name="password" class="form-control" />
    <br />
    <button type="submit" class="btn btn-success">
        Login
    </button>
</form>

<h1>@ViewBag.Mensaje</h1>
